@charset "utf-8";
html,
body,
ul,
dl,
dd,
dt,
ol,
li,
p,
h1,
h2,
h3,
h5,
h6,
textarea,
form,
select,
fieldset,
table,
td,
div,
input {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
h5,
h6,
span,
a,
em,
p {
  list-style: none;
  font-style: normal;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
html,
body {
  font-size: 14px;
  font-family: "Microsoft Yahei";
  width: 100%;
  height: auto;
  background-color: #f4f6f5;
}
header {
  width: 100%;
  height: 60px;
  background-color: #ffdc71;
}
header .img {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 16px;
  margin-left: 5%;
}
header h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 28px;
  margin-right: 30px;
}
nav {
  width: 100%;
  height: 40px;
  background-color: #ffdc71;
}
nav ul {
  overflow: hidden;
}
nav ul .one {
  margin-left: 5%;
  margin-right: 9%;
}
nav ul .last {
  margin-left: 9%;
  margin-right: 5%;
}
nav ul li {
  width: 24%;
  float: left;
  line-height: 36px;
  text-align: center;
}
nav ul li a {
  color: #b79d51;
  font-size: 16px;
}
nav ul li .task {
  color: #0f0c0b;
}
section {
  width: 100%;
  height: auto;
}
section .mup {
  width: 100%;
}
section .mup img {
  width: 100%;
  height: auto;
  display: block;
}
section .person {
  width: 100%;
}
section .person p {
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #a6907e;
}
section .person .pic {
  background-color: #fff;
  width: 100%;
  height: 130px;
  border-top: 1px solid #9b9b9b;
}
section .person .pic div {
  margin: auto;
  width: 80px;
  height: 80px;
  border: 2px solid #ffdf78;
  border-radius: 50%;
  margin-top: 10px;
}
section .person .pic div img {
  display: block;
  margin-top: 16px;
  margin-left: 16px;
}
section .person .pic p {
  text-align: center;
  color: #383535;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
}
section .crash-card {
  width: 100%;
  height: 140px;
  margin-top: 20px;
  background-color: #fff;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
}
section .crash-card button {
  margin: 6%;
  width: 88%;
  height: 50px;
  border: 2px solid #b29b53;
  border-radius: 8px;
  background-color: #ffdf78;
}
section .crash-card button a {
  color: #15110d;
}
section .crash-card ul {
  margin: 0 5% 10px;
}
section .crash-card ul .last {
  border-top: 1px solid #9b9b9b;
}
section .crash-card ul li {
  height: 68px;
  width: 100%;
  line-height: 68px;
}
section .crash-card ul li span {
  color: #3b3838;
  font-size: 18px;
  display: block;
  float: left;
  width: 30%;
}
section .crash-card ul li input,
section .crash-card ul li select {
  height: 40px;
  width: 68%;
  font-size: 18px;
  float: right;
  margin-left: 2%;
  margin-top: 18px;
  line-height: 40px;
}
section .cash-box {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: #fff;
}
section .cash-box .money {
  width: 100%;
  height: auto;
  border-top: 1px solid #9b9b9b;
}
section .cash-box .money .money_cont {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
section .cash-box .money .money_cont p {
  line-height: 28px;
  margin-bottom: 20px;
}
section .cash-box .money .money_cont .mon {
  display: block;
  position: absolute;
  font-size: 24px;
  font-weight: bolder;
  color: #15110d;
  top: 38%;
  left: 8px;
}
section .cash-box .money .money_cont input {
  width: 100%;
  height: 50px;
  border: 2px solid #9b9b9b;
  border-radius: 8px;
  background-color: #f4f6f5;
  font-size: 24px;
  font-weight: bolder;
  text-indent: 2em;
}
section .cash-box .money .money_cont button {
  width: 100%;
  height: 50px;
  border: 2px solid #b29b53;
  border-radius: 8px;
  background-color: #ffdf78;
}
section .cash-box .money .money_cont button a {
  color: #15110d;
}
section .cash-box .bank {
  width: 100%;
  height: auto;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  margin-bottom: 20px;
  overflow: hidden;
}
section .cash-box .bank .ban-left {
  float: left;
  margin-left: 5%;
  margin-bottom: 10px;
}
section .cash-box .bank .ban-left p {
  margin-top: 14px;
}
section .cash-box .bank .ban-right {
  float: right;
  margin-right: 5%;
  margin-top: 32px;
}
section .time-box {
  margin-bottom: 14px;
  background-color: #fff;
}
section .time-box .time {
  width: 100%;
  height: 50px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  line-height: 50px;
}
section .time-box .time ul {
  overflow: hidden;
  text-align: center;
}
section .time-box .time ul li {
  width: 30%;
  margin-left: 3%;
  float: left;
}
section .time-box .time ul li .p1 {
  font-size: 20px;
}
section .time-box .time ul li p {
  line-height: 180%;
}
section .time-box .time .time-one {
  float: left;
  display: block;
  margin-left: 5%;
  color: #838383;
}
section .time-box .time .time-two {
  float: right;
  display: block;
  margin-right: 5%;
  color: #838383;
}
section .time-box .add-one {
  height: 170px !important;
}
section .time-box .addr {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #cecece;
  position: relative;
}
section .time-box .addr .addr-text {
  border-left: 1px dashed #ded6bb;
  height: 60px;
  margin: 10px 5%;
}
section .time-box .addr .addr-text .top {
  overflow: hidden;
}
section .time-box .addr .addr-text .top img {
  display: block;
  position: absolute;
  top: 0;
  left: 3%;
}
section .time-box .addr .addr-text .top p {
  float: left;
  margin-left: 4%;
  color: #0f0c0b;
}
section .time-box .addr .addr-text .top span {
  display: block;
  float: right;
  color: #838383;
}
section .time-box .addr .addr-text .remark {
  margin-top: 14px;
  margin-bottom: 14px;
}
section .time-box .addr .addr-text .bottom {
  margin-top: 24px;
}
section .time-box .addr .addr-text .bottom img {
  top: 60px;
  left: 3%;
}
section .time-box .addr .addr-text .bottom p {
  margin-top: 10px;
}
section .time-box .addr .addr-text .bottom span {
  margin-top: 10px;
}
section .time-box .price {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #cecece;
}
section .time-box .price span {
  display: block;
  float: left;
  color: #e6b927;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  margin-left: 5%;
}
section .time-box .price button {
  float: right;
  background-color: #ffdf78;
  width: 100px;
  height: 40px;
  border: 2px solid #b29b53;
  margin: 10px 5%;
  border-radius: 6px;
  font-weight: bold;
}
section .time-box .price button a {
  color: #0f0c0b;
}
section .product {
  background-color: #fff;
}
section .product .pro-1 {
  height: 40px;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
}
section .product .pro-1 p {
  line-height: 40px;
  margin-left: 5%;
}
section .product .pro-2 {
  height: auto;
  border-bottom: 1px solid #9b9b9b;
}
section .product .pro-2 ul .last {
  border-bottom: none;
}
section .product .pro-2 ul li {
  height: 70px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid #cecece;
  overflow: hidden;
}
section .product .pro-2 ul li .one {
  float: left;
}
section .product .pro-2 ul li .one p {
  line-height: 180%;
  margin-top: 5px;
}
section .product .pro-2 ul li .one div {
  border: 2px solid #a6907e;
  width: 50px;
  height: 26px;
  color: #a6907e;
  text-align: center;
}
section .product .pro-2 ul li .two {
  float: right;
  line-height: 70px;
}
section .infor {
  margin-top: 20px;
  border-bottom: 1px solid #cecece;
  margin-bottom: 20px;
}
section .infor .pro-2 li {
  border-bottom: 0!important;
}
section .infor .pro-2 .one div {
  margin-top: 10px;
  width: 50px!important;
  height: 50px!important;
  background-color: #dadada;
  border-radius: 50%;
  border: 2px solid #9b9b9b!important;
}
section .infor .pro-2 span {
  display: block;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 5px;
}
section .infor .pro-2 .two img {
  margin-top: 10px;
  display: block;
  height: 32px;
  width: auto;
  padding-left: 10px;
}
section .infor .pro-2 .two p {
  color: #7897ff;
  line-height: 30px!important;
}
section .bt {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #9b9b9b;
}
section .bt .btn-1 {
  margin-left: 5%;
  width: 40%;
  float: left;
  height: 40px;
  background-color: #7897ff;
  border: 2px solid #5369b2;
  border-radius: 8px;
  margin-top: 10px;
}
section .bt .btn-1 a {
  color: #fff;
}
section .bt .btn-2 {
  margin-right: 5%;
  width: 40%;
  float: right;
  height: 40px;
  background-color: #ffdf78;
  border: 2px solid #b29b53;
  border-radius: 8px;
  margin-top: 10px;
}
section .bt .btn-2 a {
  color: #0f0c0b;
}
/*# sourceMappingURL=send.css.map */